:root {
    --pixel-size: 2;
    @media only screen and (max-width: 431px) {
        --pixel-size: 8;
    }
}

.character_mask {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    overflow: hidden;
    position: absolute;
    z-index: 50;
}

.character_spritesheet {
    width: calc(128px * var(--pixel-size));
    position: absolute;
    z-index: 50;
}

.movement_speed_fast {
    animation: moveSpritesheet 0.2s steps(4) infinite;
}
.movement_speed_normal {
    animation: moveSpritesheet 0.4s steps(4) infinite;
}
.movement_speed_slow {
    animation: moveSpritesheet 2s steps(4) infinite;
}

.pixel_art {
    image-rendering: pixelated;
}

.face-right {
    top: calc(-32px * var(--pixel-size));
}
.face-up {
    top: calc(-64px * var(--pixel-size));
}
.face-left {
    top: calc(-96px * var(--pixel-size));
}
.face-idle {
    top: calc(-128px * var(--pixel-size));
}


@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}