:root {
    --pixel-size: 3;
    @media only screen and (max-width: 431px) {
        --pixel-size: 8;
    }
}

.character_mask {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    overflow: hidden;
    position: absolute;
}

.character_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(128px * var(--pixel-size));
    position: absolute;
}

.pixelart {
    image-rendering: pixelated;
}

.face-right {
    top: calc(-32px * var(--pixel-size));
}
.face-up {
    top: calc(-64px * var(--pixel-size));
}
.face-left {
    top: calc(-96px * var(--pixel-size));
}


@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}