.home-style {
  height: 100vh;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-style-mobile {
  font-size: 15px;
}

.about-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.about-style-mobile {
  background-color: transparent;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

.about-header {
  font-size: 50px;
  padding-left: 5vw;
  background-color: transparent;
}

.about-header-mobile {
  background-color: transparent;
  margin-top: 20vh;
  width: 100vw;
}

.about-text {
  background-color: transparent;
  font-size: 30px;
  width: 50vw;
  padding-right: 100px;
  padding-top: 20vh;
}

.about-text-mobile {
  font-size: 25px;
  width: 100vw;
  background-color: transparent;
  margin-left: 10vw;
}

.picture-light {
  background-color: transparent;
  background-image: url(../assets/brown_light.jpg);
  background-size: 100%;
  width: 400px;
  height: 600px;
}

.picture-dark {
  background-color: transparent;
  background-image: url(../assets/brown_dark.jpg);
  z-index: -1;
  background-position-y: -80px;
  background-size: 100%;
  background-repeat: no-repeat;

  width: 400px;
  height: 600px;
  overflow: hidden;
}

.picture-dark-mobile {
  width: 110vw;
}

.project-style {
  padding-top: 10vh;
  margin-top: 40vh;
}

.project-style-mobile {
  margin-top: 0;
}
.project-cards {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: -30px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-cards-mobile {
  flex-direction: column;
  align-items: center;
}

.project-header {
  font-size: 50px;
  padding-right: 25vw;
  text-align: end;
}

.project-header-mobile {
  padding-right: 10vw;
}

.contact-header {
  font-size: 50px;
  text-align: center;
  transform: translateX(-10vw);
}
.contact-style {
  margin-top: 25vh;
  padding-top: 15vh;
}

.contact-style-mobile {
  margin-top: 10vh;
}

.contact-text {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  background-color: transparent;
  height: 50vh;
  justify-content: space-evenly;
  padding-left: 20vw;
}

.contact-text-mobile {
  padding-left: 2vw;
  font-size: 25px;
}

.social-icon {
  transform: translateY(11px);
  margin-right: 15px;
}

.copyright p {
  font-size: 15px;
  text-align: right;
}

.copyright {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  padding: 5vw;
}

.copyright-icon {
  margin-right: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
