@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #f0ead6;
  position: relative;
}
html,
body {
  overflow-x: hidden;
}
